.contentHeader {
    margin-top: 10px;
    background-color: rgba(117, 126, 155, 0.24);
    align-content: center;
    height: 11vh;
}

.contentBody {
    background-color: rgba(243, 242, 242, 0.281);
    height: 65vh;
}

.contentFooter {
    background-color: rgba(117, 126, 155, 0.24);
    height: 25%;
}

.heading {
    text-align: center;
}

.learningContent {
    padding-top: 20px;
}

.pager{
  cursor: pointer;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(218, 214, 214);
  background-color: rgba(65, 64, 64, 0.705);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0);
  margin: 15% auto;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}
