.contentHeader {
    margin-top: 10px;
    background-color: rgba(117, 126, 155, 0.24);
    align-content: center;
    height: 15vh;
}

.contentBody {
    background-color: rgba(243, 242, 242, 0.281);
    height: 50vh;
}

.contentFooter {
    background-color: rgba(117, 126, 155, 0.24);
    height: 25%;
}

.heading {
    text-align: center;
}

.learningContent {
    padding-top: 20px;
}

.pager{
  cursor: pointer;
}
