.chapter {
    background-color: rgb(92, 126, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17pt;
    padding: 2px;
    text-decoration: none;
    color: black;
    list-style: none;
    font-weight: bold;
    /* border: 0; */
    border: 2px black;
}

.sectionOne {
    background-color: rgb(92, 126, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    padding: 2px;
    text-decoration: none;
    color: black;
    list-style: none;
    border: 0;
    border: 2px black;
}

.sectionTwo {
    background-color: rgb(92, 126, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    padding: 2px;
    text-decoration: none;
    color: black;
    list-style: none;
    border: 0;
    border: 2px black;
}

.sectionThree {
    background-color: rgb(92, 126, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    padding: 2px;
    text-decoration: none;
    color: black;
    list-style: none;
    border: 0;
    border: 2px black;

}

.division {
    margin-top: 0;
    margin-bottom: 0;
}

.itemSelected {
    background-color: rgb(4, 154, 230);
}

/**Header color:  #EFEFEF;
menu selected/active: #208CB5*/

.bookContent {
    /* background-color: #019090; */
    padding-top: 15px;
    width: 100%;
    height: 100%;
    border: 0;
    /* margin-left: 15px; */
    /* border-bottom: 2pc black; */
}

.chapter:hover {
    cursor: pointer;
    background-color: #208CB5;
}

.sectionOne:hover {
    cursor: pointer;
    background-color: #208CB5;
}

.sectionTwo:hover {
    cursor: pointer;
    background-color: #208CB5;
}

.sectionThree:hover {
    cursor: pointer;
    background-color: #208CB5;
}
